<ion-view view-title="Admin">

    <ion-nav-buttons side="primary">
        <button nav-direction="back" class="button button-clear ion-chevron-left" ng-click="logout()"> Logout</button>
    </ion-nav-buttons>

    <ion-content>

        <button class="button button-block button-calm" onclick="exportUserDetails()">
            Export User Details
        </button>

        <button class="button button-block button-calm" onclick="exportUserStatistics()">
            Export User Statistics
        </button>

        <button class="button button-block button-calm" onclick="exportUserInteractions()">
            Export User Interactions
        </button>

    </ion-content>
</ion-view>