<ion-view view-title="Rewards" ng-controller="RewardCtrl" ng-init="renderNewRewards(); displaySelectedRewards();">

    <ion-nav-buttons side="primary">
        <button nav-direction="back" class="button button-clear ion-chevron-left" ui-sref="tab.dashboard">
            &nbsp;Dashboard
        </button>
    </ion-nav-buttons>

    <ion-content>
        <div class="card">
            <div class="item item-divider">
                Reward yourself
            </div>

            <div class="item item-text-wrap">
                Add your own rewards or chose from the options below!
                Research shows that setting rewards for yourself helps you keep motivated to stick to your health goals!
            </div>
        </div>

        <div class="card">

            <div class="item item-divider">
                Add your own rewards!
            </div>

            <div class="item item-text-wrap item-icon-right" ng-repeat="reward in rewards">
                <p>{{reward.text}}</p>
            <span class="item-note">
                <i class="icon ion-minus-circled" ng-click="deleteReward(reward.text)"></i>
            </span>
            </div>

            <a class="item item-icon-right" ng-click="addReward()">
            <span class="item-note">
                <i class="icon ion-plus-circled addRewardsBtn"></i>
            </span>
            </a>

        </div>

        <div class='card' style="display: {{visibility.reward}}">
            <div class="item item-divider">
                Choose Your Rewards
            </div>

            <div class="list">
                <label class="item item-input item-select">
                    <span class="input-label rewards-label">Level 1</span>
                    <select id="stage1">
                        <option>Choose from the following:</option>
                        <option value="{{reward.text}}" ng-repeat="reward in stage1">{{reward.text}}</option>
                        <option disabled>or choose your own reward:</option>
                        <option value="{{reward.text}}" ng-repeat="reward in rewards">{{reward.text}}</option>
                    </select>
                </label>

                <label class="item item-input item-select">
                    <span class="input-label rewards-label">Level 2</span>
                    <select id="stage2">
                        <option>Choose from the following:</option>
                        <option value="{{reward.icon}}" ng-repeat="reward in stage2">{{reward.text}}</option>
                        <option disabled>or choose your own reward:</option>
                        <option value="{{reward.icon}}" ng-repeat="reward in rewards">{{reward.text}}</option>
                    </select>
                </label>

                <label class="item item-input item-select">
                    <span class="input-label rewards-label">Level 3</span>
                    <select id="stage3">
                        <option>Choose from the following:</option>
                        <option value="{{reward.icon}}" ng-repeat="reward in stage3">{{reward.text}}</option>
                        <option disabled>or choose your own reward:</option>
                        <option value="{{reward.icon}}" ng-repeat="reward in rewards">{{reward.text}}</option>
                    </select>
                </label>

                <label class="item item-input item-select">
                    <span class="input-label rewards-label">Level 4</span>
                    <select id="stage4">
                        <option>Choose from the following:</option>
                        <option value="{{reward.icon}}" ng-repeat="reward in stage4">{{reward.text}}</option>
                        <option disabled>or choose your own reward:</option>
                        <option value="{{reward.icon}}" ng-repeat="reward in rewards">{{reward.text}}</option>
                    </select>
                </label>

                <label class="item item-input item-select">
                    <span class="input-label rewards-label">Level 5</span>
                    <select id="stage5">
                        <option>Choose from the following:</option>
                        <option value="{{reward.icon}}" ng-repeat="reward in stage5">{{reward.text}}</option>
                        <option disabled>or choose your own reward:</option>
                        <option value="{{reward.icon}}" ng-repeat="reward in rewards">{{reward.text}}</option>
                    </select>
                </label>
            </div>
        </div>

        <button class="saveRewardsBtn button icon-right ion-ios-download-outline button-positive"
                ng-click="confirm(); logBtnClick('rewardsSaveBtn')">
            Save
        </button>

        </div>

    </ion-content>

</ion-view>