<ion-view view-title="Dashboard">
    <ion-content delegate-handle="content" overflow-scroll="true">
        <div id='levelsCard' class="list card">
            <a class="item item-divider" ng-click="showLevelsInfo(); logBtnClick('homeLevelsInfo');">
                <i style="float: right" class="icon icon-right ion-help-circled"></i>
                Academy Progress
            </a>
            <div class="item item-image">
                <img id="levelVisualiser" height="20%" width="100%">
            </div>

            <div class="row ">
                <div class="bar-wrap">
                    <div class="progress">
                        <div id="currentBar" class="progress-bar progress-bar-positive progress-bar-striped active"
                             role="progressbar" style="width:0%">
                        </div>
                        <p style="position:absolute; left: 40%; " id="percentage"></p>
                    </div>
                </div>
            </div>
            <div class="row time-spot" style="text-transform: uppercase; font-weight: bold;">
                <p style="float: left;" id="currentStage"></p>
                <p style="float: right;" id="nextStage"></p>
            </div>
        </div>

        <div id="gamified-section" class="row" style="margin: -35px 0px 0px 0px">

            <div id="carrot-section" class="col col-50">
                <div id='carrotCard' class="list card">
                    <div class="item item-divider">
                        Daily Goal
                    </div>

                    <!--<div class="item item-text-wrap dailyGoalHeader hidden">-->
                        <!--<div class="row buttons dailyGoalRow">-->
                            <!--<button id="chevronLeft" class="button button-small chevronLeft"-->
                                    <!--ng-click="decreaseCarrotIndex(); logBtnClick('homeChevronLeft')">-->
                                <!--<i class="icon ion-chevron-left">-->
                                <!--</i>-->
                            <!--</button>-->

                            <!--<span id="carrotDate"></span>-->

                            <!--<button id="chevronRight" class="button button-small chevronRight"-->
                                    <!--ng-click="increaseCarrotIndex(); logBtnClick('homeChevronRight')">-->
                                <!--<i class="icon ion-chevron-right">-->
                                <!--</i>-->
                            <!--</button>-->
                        <!--</div>-->
                    <!--</div>-->

                    <div class="carrot">
                        <img src="img/white.png" id="white">
                        <img src="img/carrot-outline.png" id="carrot-outline" alt="carrot" height="300">
                        <img src="img/carrot-body.png" id="carrot-body" alt="carrot" height="300">
                        <p id="currentServe"></p>
                        <button class="button button-small button-stable icon-right ion-wrench" id="goalServe"
                                ng-click="setGoal();  logBtnClick('homeChangeGoal')"></button>
                    </div>
                </div>
            </div>

            <div id="noncarrot-section" class="col col-50">
                <div id='challengeCard' class="list card">
                    <div class="item item-divider">
                        Goal
                    </div>
                    <div class="item item-text-wrap">
                        <p id="stageDescription"></p>
                    </div>
                </div>

                <div id='rewardsCard' class="list card">
                    <a nav-direction="forward" ng-click="logBtnClick('homeRewardsBtn')" ui-sref="rewards">
                        <div class="item item-divider">
                            Reward <i style="float: right" class="icon icon-right ion-edit"></i>
                        </div>
                        <div class="item item-text-wrap">
                            <p id="stageReward"></p>
                        </div>
                    </a>
                </div>

                <button id="logBtn" type="button" class="logBtn button icon-right ion-plus button-positive"
                        ng-click="logBtnClick('homeLogBtn')" ui-sref="tab.log">
                    Log Veges
                </button>
            </div>

        </div>

    </ion-content>
</ion-view>
