<ion-view view-title="History">
    <ion-content>
        <div ng-app="starter">
            <!--<div clas="row" style="display: inline; width: 100%;">-->
            <!--<button class="button" style="width: 49%; position: relative;"-->
            <!--ng-click="showBarGraph(); logBtnClick('statsShow7DayGraph')">-->
            <!--7 Day Intake-->
            <!--</button>-->

            <!--<button class="button" style="width: 49%; position: relative;"-->
            <!--ng-click="showLineGraph(); logBtnClick('statsShow4WeekGraph')">-->
            <!--Weekly Overview-->
            <!--</button>-->
            <!--</div>-->
            <div class="card" id="barGraphCard">
                <a class="item item-divider" ng-click="logBtnClick('statsShow7DayGraph'); showBarGraph();">
                    <i style="float: right" class="">Show/Hide</i>
                    Recent 7 Days Intake
                </a>
                <div id="barGraphCanvas" class="show">
                    <canvas tc-chartjs-bar
                            chart-data="barData"
                            chart-options="lineOptions">
                    </canvas>
                </div>
            </div>

            <div class="card" id="lineGraphCard">
                <a class="item item-divider" ng-click="logBtnClick('statsShow4WeekGraph'); showLineGraph();">
                    <i style="float: right" class="">Show/Hide</i>
                    Intake Overview
                </a>
                <div id="lineGraphCanvas" class="show">
                    <canvas
                            tc-chartjs-line
                            chart-data="lineData"
                            chart-options="lineOptions">
                    </canvas>


                    <div class="row">
                        <div class="box" style="background-color:rgba(211,247,208,0.8);
                 width: 20px;
                height: 20px;
                margin-left: 60px;
                border-width: 1px;
                border-style: solid;
                border-color: rgba(0,0,0,.2);">
                        </div>

                        &nbsp;&nbsp;Goal

                        <div class="box" style="background-color:rgba(151,187,205,1);
                 width: 20px;
                height: 20px;
                margin-left: 20px;
                border-width: 1px;
                border-style: solid;
                border-color: rgba(0,0,0,.2);">
                        </div>

                        &nbsp;&nbsp;Actual

                        <div class="box" style="background-color:rgba(255,138,138,0.8);
                 width: 20px;
                height: 20px;
                margin-left: 20px;
                border-width: 1px;
                border-style: solid;
                border-color: rgba(0,0,0,.2);">
                        </div>

                        &nbsp;&nbsp;Average

                    </div>
                </div>

            </div>
        </div>
    </ion-content>
</ion-view>
