<ion-view view-title="Log Vegetables">
    <!--<ion-nav-buttons side="primary">-->
        <!--<button nav-direction="back" class="button button-clear ion-chevron-left" ui-sref="tab.home"> Dashboard</button>-->
    <!--</ion-nav-buttons>-->

    <!--<ion-nav-buttons side="secondary">-->
        <!--<button class="button button-clear ion-information-circled" ng-click="servesInformation()"> Info</button>-->
    <!--</ion-nav-buttons>-->

    <ion-content>

        <div class="card mealTimeCard">
            <div class="item item-divider item-text-wrap">
                When did you have this meal today?
            </div>
            <ion-radio class="normaliseFont" ng-repeat="item in mealTime" ng-value="item.value"
                       ng-model="data.mealTime">
                {{item.text}}
            </ion-radio>
        </div>

        <div class="card typeVegsCard">
            <div class="item item-divider item-text-wrap item-icon-right">
                Select all the type of vegetables you had in this meal?
            </div>
            <ion-list>
                <div class="item item-text-wrap">
                    <a ng-click="servesInformation(); logBtnClick('logInfoBtn');">
                        More Info on Different Types of Vegetables
                    </a>
                </div>

                <ion-checkbox class="normaliseFont item-text-wrap" ng-repeat="item in vegetableType"
                              ng-value="item.value" ng-model="item.checked"
                              ng-checked="item.checked">
                    {{item.text}}
                </ion-checkbox>
            </ion-list>
        </div>

        <div class="card numServesCard">
            <div class="item item-divider">
                Number of serves in this meal?
            </div>

            <div class="item item-text-wrap">
                Serving Size: 1 cup of uncooked or 1/2 cup of cooked vegetables
            </div>

            <div class="row" style="margin-left: 0px;">
                <div class="item" style="width: 100%;">
                    <div style="float: left; width: 40%;">
                        Serve(s):
                    </div>
                    <input type="number" style="outline-color: #0c63ee; outline-style: dotted; outline-width: thin;"  placeholder=""
                           style="height: 20px; width: 60%; float: right;"
                           ng-model="data.serve" min="0"
                           max="10">
                </div>
            </div>
        </div>

        <button class="confirmIntakesBtn button icon-right ion-ios-checkmark-empty button-positive"
                ng-click="confirmIntakes(); logBtnClick('logBtnConfirmIntakes')">
            Confirm
        </button>

    </ion-content>
</ion-view>