<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

    <ion-tab title="Dashboard" icon="ion-ios-nutrition-outline" ui-sref='tab.dashboard'>
        <ion-nav-view name="tab-dashboard"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Update" icon="ion-ios-reload" ui-sref='tab.update'>
        <ion-nav-view name="tab-update"></ion-nav-view>
    </ion-tab>

    <ion-tab icon="ion-plus-circled" ui-sref='tab.log'>
        <ion-nav-view name="tab-log"></ion-nav-view>
    </ion-tab>

    <ion-tab title="History" icon="ion-ios-pie-outline" ng-controller="HistoryCtrl" ui-sref='tab.history'
             ng-init="renderCharts()">
        <ion-nav-view name="tab-history"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Settings" icon="ion-ios-gear-outline" ui-sref='tab.account'>
        <ion-nav-view name="tab-account"></ion-nav-view>
    </ion-tab>

</ion-tabs>
