<ion-view view-title="Vegetable Types">

    <ion-nav-buttons side="primary">
        <button nav-direction="back" class="button button-clear ion-chevron-left" ui-sref="tab.log"> Log</button>
    </ion-nav-buttons>

    <ion-content>
        <!--<div class="card">-->
        <!--<div class="item item-divider item-text-wrap">-->
        <!--Green and Leafy Green Vegetables-->
        <!--</div>-->
        <!--<div id="vegetables">-->
        <!--<div class="row">-->
        <!--<div class="col-25"-->
        <!--ng-repeat="item in items | limitTo: 4: displayIndex">-->
        <!--<div class="col">-->
        <!--<img ng-src="{{item.img}}">-->
        <!--</div>-->
        <!--<div class="col">-->
        <!--{{item.text}}-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->

        <!--<div id="arrows">-->
        <!--<i id="arrow-left" class="button icon-left ion-chevron-left button-clear button-dark"-->
        <!--ng-click="decreaseDisplayIndex()"></i>-->
        <!--<i id="arrow-right" class="button icon-right ion-chevron-right button-clear button-dark"-->
        <!--ng-click="increaseDisplayIndex()"></i>-->
        <!--</div>-->

        <!--</div>-->

        <div class="list card">
            <a class="item item-divider item-text-wrap" ng-click="toggleShow('green'); logBtnClick('vegetableTypesGreen');">
                Green and Leafy Green Vegetables
                <i style="float: right" class="icon icon-right ion-chevron-down"></i>
            </a>
            <div id="green" class="hidden">
                <div class="item item-text-wrap">
                    Asparagus, Basil, Chicory, Chives,
                </div>
                <div class="item item-text-wrap">
                    Endive, Green Bean, Green Peas, Kale,
                </div>
                <div class="item item-text-wrap">
                    Lettuce, Parsley, Salad Cabbage, Seaweed,
                </div>
                <div class="item item-text-wrap">
                    Silverbeet, Snowpea, Spinach/Rocket,
                </div>
                <div class="item item-text-wrap">
                    Bok Choy and other Asian Greens
                </div>
            </div>
        </div>

        <div class="list card">
            <a class="item item-divider item-text-wrap" ng-click="toggleShow('root'); logBtnClick('vegetableTypesRoot');">
                Root Vegetables
                <i style="float: right" class="icon icon-right ion-chevron-down"></i>
            </a>
            <div id="root" class="hidden">
                <div class="item item-text-wrap">
                    Artichoke, Bamboo Shoot, Beetroot, Celery,
                </div>
                <div class="item item-text-wrap">
                    Fennel, Garlic, Ginger, Leek,
                </div>
                <div class="item item-text-wrap">
                    Onion, Parsnip, Radish, Shallot,
                </div>
                <div class="item item-text-wrap">
                    Spring Onion, Swede, Turnip,
                </div>
                <div class="item item-text-wrap">
                    Carrot, Pumpkin
                </div>
            </div>
        </div>

        <div class="list card">
            <a class="item item-divider item-text-wrap" ng-click="toggleShow('potatoes'); logBtnClick('vegetableTypesPotatoes');">
                Potatoes
                <i style="float: right" class="icon icon-right ion-chevron-down"></i>
            </a>
            <div id="potatoes" class="hidden">
                <div class="item item-text-wrap">
                    Potato, Sweet Potato, Cassava, Taro
                </div>
            </div>
        </div>

        <div class="list card">
            <a class="item item-divider item-text-wrap" ng-click="toggleShow('peas'); logBtnClick('vegetableTypesPeas');">
                Peas, Beans and Sprouts
                <i style="float: right" class="icon icon-right ion-chevron-down"></i>
            </a>
            <div id="peas" class="hidden">
                <div class="item item-text-wrap">
                    Bean Sprout, Broad, Butter Bean,
                </div>
                <div class="item item-text-wrap">
                    Snowpea Sprout, Sprout
                </div>
            </div>
        </div>

        <div class="list card">
            <a class="item item-divider item-text-wrap" ng-click="toggleShow('brassica'); logBtnClick('vegetableTypesBrassica');">
                Cabbage Cauliflower and Brassica Vegetables
                <i style="float: right" class="icon icon-right ion-chevron-down"></i>
            </a>
            <div id="brassica" class="hidden">
                <div class="item item-text-wrap">
                    Broccoli, Brussels, Brussels Sprouts,
                </div>
                <div class="item item-text-wrap">
                    Cabbage, Cauliflower, Broccoflower
                </div>
            </div>
        </div>

        <div class="list card">
            <a class="item item-divider item-text-wrap" ng-click="toggleShow('other'); logBtnClick('vegetableTypesOther');">
                Other Fruiting Vegetables
                <i style="float: right" class="icon icon-right ion-chevron-down"></i>
            </a>
            <div id="other" class="hidden">
                <div class="item item-text-wrap">
                    Alfalfa, Avocado, Capsicum, Chilli,
                </div>
                <div class="item item-text-wrap">
                    Choko, Cucumber, Eggplant, Bitter Melon,
                </div>
                <div class="item item-text-wrap">
                    Mushrooms, Okra, Squash,
                </div>
                <div class="item item-text-wrap">
                    Tomato, Zucchini/Marrow, Sweet Corn
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>