/* Login Page */
.loginForm {
    left: 0%;
    width: 100%;
    height: 100%;

    position: absolute;
}

.logo {
    display: block;
    margin: 0px auto;

}

.platform-android .logo {
    margin: 40px auto;
}

.centerLoginItems {
    margin-left: 40px;
    margin-right: 40px;
}

#login_registerBtn {
    margin-top: 50px;
}

/* Diary */
.diaryRow {
    text-align: center;
    display: block;
    margin: 0;
}

.diaryHeader {
    padding: 2px;
}

.diaryRow .chevronLeft {
    float: left;
}

.diaryRow .chevronRight {
    float: right;
}

/* Rewards Page */
.rewards-label {
    font-weight: normal;
}

#stage1, #stage2, #stage3, #stage4 {
    font-weight: normal;
    position: absolute;
    width: 80%;
    height: 100%;
}

.addRewardsBtn {
    position: absolute;
    left: 49%;

}

.saveRewardsBtn {
    display: block;
    margin: 0 auto;
}

.normaliseFont {
    font-weight: normal;
}

/* Log Page */
.confirmIntakesBtn {
    display: block;
    margin: 0 auto;
}

/* Diary Page */
.updateIntakeBtn {
    display: block;
    margin: 0 auto;
    visibility: hidden;
}

/* Register Page */
.registerBtn {
    display: block;
    margin: 0 auto;
}

.tab-item .ion-plus-circled {
    font-size: 49px;
    color: #387ef5;
    opacity: 1.0;
}

.tab-item .ion-ios-bookmarks-outline {
    font-size: 30px;
}

.tab-item .ion-ios-home-outline {
    font-size: 25px;
}

.tab-item .ion-ios-gear-outline {
    font-size: 25px;
}

.platform-android .slider {
    height: 100%;
    text-align: center
}

.platform-android .scroll {
    height: 100%;
}

.platform-ios .scroll {
    margin-top: 40px;
}