<ion-view view-title="Nutrition Academy">
<ion-content>
        <div class="loginForm">
            <img class="logo" src="img/nutrition_academy_logo.png" style="width: 150px; height: 150px">

            <div class="list list-inset centerLoginItems">

                <label class="item item-input">
                    <i class="icon ion-ios-email-outline placeholder-icon"></i>
                    <input id="email_login" type="text" placeholder="email">
                </label>

                <label class="item item-input">
                    <i class="icon ion-ios-locked-outline placeholder-icon"></i>
                    <input id="password_login" type="password" placeholder="password">
                </label>

            </div>

            <a id="signInBtn"
               class="button button-block icon-right ion-log-in button-positive centerLoginItems"
               ng-click="login()" >
                Sign in
            </a>

            <a id="login_registerBtn"
               class="button button-block button-calm button-clear centerLoginItems"
               ui-sref="register"
               nav-direction="forward">
                Register
            </a>

            <a id="forgotPwdBtn"
               class="button button-block button-dark button-clear centerLoginItems"
               ng-click="forgotPassword()">
                Forgot Password?
            </a>

        </div>
    </ion-content>
</ion-view>