<ion-view view-title="Register">

    <ion-nav-buttons side="primary">
        <button nav-direction="back" class="button button-clear ion-chevron-left" ui-sref="login"> Back</button>
    </ion-nav-buttons>

    <ion-content>
        <div class="list registerForm">

            <label class="item">
                <p>Please Fill in All Fields to Register</p>
            </label>

            <label class="item item-input">
                <span class="input-label">Email</span>
                <input id="email" type="text" placeholder="john@example.com">
            </label>

            <label class="item item-input">
                <span class="input-label">Password</span>
                <input id="password" type="password"
                       placeholder="Password">
            </label>

            <label class="item item-input">
                <span class="input-label">Confirm Password</span>
                <input id="repassword" type="password"
                       placeholder="Retype Password">
            </label>

            <label class="item item-input">
                <span class="input-label">User Name</span>
                <input id="username" type="text" placeholder="john_citizen">
            </label>

            <label class="item item-input">
                <span class="input-label">Date of Birth</span>
                <input id="dob" type="date">
            </label>

            <label class="item item-input item-select">
                <div class="input-label">
                    Gender
                </div>
                <select id="gender">
                    <option selected></option>
                    <option>Male</option>
                    <option>Female</option>
                </select>
            </label>

            <!--<div class="item item-text-wrap">-->
                <!--I consent to my information being used for research purposes as listed according to the <a href="http://tinyurl.com/USYDNutritionPIS">Public Information Statement</a>-->
            <!--</div>-->

        </div>

        <button class="registerBtn button icon-right ion-log-in button-positive"
                ng-click="register()">
            Register
        </button>
    </ion-content>
</ion-view>
