<ion-view view-title="Back Log">
    <ion-content>

        <div class="list card">
            <div class="item item-divider">
                Select Date
            </div>

            <div class="item item-text-wrap diaryHeader">
                <div class="row buttons diaryRow">

                    <button id="diaryChevronLeft" class="button button-small chevronLeft"
                            ng-click="decreaseDiaryIndex(); logBtnClick('diaryChevronLeft')">
                        <i class="icon ion-chevron-left">
                        </i>
                    </button>

                    <span id="diaryDate"></span>

                    <button id="diaryChevronRight" class="button button-small chevronRight"
                            ng-click="increaseDiaryIndex(); logBtnClick('diaryChevronRight')">
                        <i class="icon ion-chevron-right">
                        </i>
                    </button>

                </div>
            </div>

        </div>

        <div class="list card">
            <div class="item item-divider">
                Select Meal
            </div>

            <div class="button-bar">
                <a class="button btnMeal" id="btnBreakfast"
                   ng-click="showMealInfo('Breakfast'); logBtnClick('diaryShowBreakfast')">Breakfast</a>
                <a class="button btnMeal" id="btnLunch"
                   ng-click="showMealInfo('Lunch'); logBtnClick('diaryShowLunch')">Lunch</a>
            </div>
            <div class="button-bar">
                <a class="button btnMeal" id="btnDinner"
                   ng-click="showMealInfo('Dinner'); logBtnClick('diaryShowDinner')">Dinner</a>
                <a class="button btnMeal" id="btnSnack"
                   ng-click="showMealInfo('Snack'); logBtnClick('diaryShowSnack')">Snack</a>
            </div>
        </div>

        <div class="card numServesCard">
            <div class="item item-divider">
                Number of Serves
            </div>
            <div class="row" style="margin-left: 0px;">
                <div class="item" style="width: 100%;">
                    <div style="float: left; width: 40%;">
                        Serve(s):
                    </div>
                    <input type="number" placeholder="e.g. 1"
                           style="height: 20px; width: 60%; float: right;"
                           ng-model="data.serve" min="0"
                           max="10">
                </div>
            </div>
        </div>

        <div class="card typeVegesCard">
            <div class="item item-divider item-text-wrap item-icon-right">
                Select all the type of vegetables you had in this meal?
            </div>
            <ion-list>
                <div class="item item-text-wrap">
                    <a ng-click="servesInformation()">
                        More Info on Different Types of Vegetables
                    </a>
                </div>
                <ion-checkbox class="normaliseFont item-text-wrap" ng-repeat="item in vegetableType"
                              ng-value="item.value" ng-model="item.checked"
                              ng-checked="item.checked">
                    {{item.text}}
                </ion-checkbox>
            </ion-list>
        </div>

        <button class="updateIntakeBtn button icon-right ion-ios-checkmark-empty button-calm"
                id="updateIntakeBtn"
                ng-click="updateIntake(); logBtnClick('diaryBtnUpdate')">
            Update
        </button>

    </ion-content>
</ion-view>

