<ion-view view-title="Settings">
    <ion-content>
        <div class="list">

            <div class="item item-icon-left"
                 ng-click="changePassword(); logBtnClick('settingsChangePwd')">
                <i class="icon ion-locked"></i>
                Change Password
            </div>

            <div class="item item-icon-left"
                 ng-click="logout(); logBtnClick('settingsLogOut')">
                <i class="icon ion-log-out"></i>
                Logout
            </div>

        </div>
    </ion-content>
</ion-view>
