<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

    <!-- Home Tab -->
    <ion-tab title="Dashboard" icon="ion-ios-home-outline" ui-sref='tab.home'>
        <ion-nav-view name="tab-home"></ion-nav-view>
    </ion-tab>

    <!-- Diary Tab -->
    <ion-tab title="Back-Log" icon="ion-arrow-return-left" ui-sref='tab.diary'>
        <ion-nav-view name="tab-diary"></ion-nav-view>
    </ion-tab>

    <!-- Logging Tab -->
    <ion-tab icon="ion-plus-circled" ui-sref='tab.log'>
        <ion-nav-view name="tab-log"></ion-nav-view>
    </ion-tab>

    <!-- Diary Tab -->
    <ion-tab title="History" icon="ion-pie-graph" ng-controller="StatsCtrl" ui-sref='tab.stats'
             ng-init="renderCharts()">
        <ion-nav-view name="tab-stats"></ion-nav-view>
    </ion-tab>

    <!-- Account Tab -->
    <ion-tab title="Settings" icon="ion-ios-gear-outline" ui-sref='tab.account'>
        <ion-nav-view name="tab-account"></ion-nav-view>
    </ion-tab>


</ion-tabs>
