/* Home elements */
.carrot {
    position: relative;
    text-align: center;
    margin-top: 0px;
    padding: 5px;
    width: 100%;
}

#carrot-outline {
    position: absolute;
}

#carrot-body{
}

#white {
    position: absolute;

}

#currentServe {
    position: inherit;
    justify-content: center;
    align-items: center;
    top: -140px;
}

#goalServe {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.logBtn {
    display: block;
    margin: 10px auto;
}

.item-input {
    font-weight: normal;
!important;
}

.dailyGoalRow {
    text-align: center;
    display: block;
    margin: 0;
}

.dailyGoalHeader {
    padding: 2px;
}

.dailyGoalRow .chevronLeft {
    float: left;
}

.dailyGoalRow .chevronRight {
    float: right;
}

/*#rewardsCard{*/
/*margin-bottom: 40px;*/
/*}*/

.progress {
    margin-top: 5px;
    margin-bottom: 15px;
}

.time-spot {
    margin-bottom: -19px;
}

/*#stars {*/
/*height: 30px;*/
/*}*/

/*#star1 {*/
/*height: 30px;*/
/*width: 30px;*/
/*position: absolute;*/
/*left: 28%;*/
/*}*/

/*#star2 {*/
/*height: 30px;*/
/*width: 30px;*/
/*position: absolute;*/
/*left: 43%;*/
/*}*/

/*#star3 {*/
/*height: 30px;*/
/*width: 30px;*/
/*position: absolute;*/
/*left: 58%;*/
/*}*/

/*#gamified-section{*/
/*margin: -35px auto;*/
/*}*/

